section
{
    padding-left: 310px;
}
.card-content
{
    width: 100%;

}


@media only screen and (max-width : 992px) {
    footer, section {
        padding-left: 0;
    }
}


.modal .modal-content {
  padding:0px;
}


section .space
{
 margin: 10px; 
}