 <form action="noseque.php" method="get">
 <div class="row">
 <div class="row">
  <div class="col s12 m3">
    <figure>
      <img src="img/img1.jpg" width="100%">
    </figure>
  </div>
  <div class="col s12 m6">
 <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

  </div>
  </div>
   <div class="input-field col s6 m4">
              <input id="username" type="text" class="validate" pattern="\S{3,}" required title="minimo 3 caracteres">
              <label for="username">Nombre</label>
            </div>
            <div class="input-field col s6 m4">
              <input id="password" type="text" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="password">apellido</label>
            </div>
             <div class="input-field col s6 m4">
              <input id="password" type="email" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="password">Email</label>
            </div>
            <div class="input-field col s6 m4">
               <input type="date" class="datepicker" pattern="\S{4,}" required title="minimo 4 caracteres">
              
            </div>
            <div class="input-field col s6 m4">
              <input type="text" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="password">Estado civil</label>
            </div>
             <div class="input-field col s6 m4">
              <input type="tel" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="password">Telefono</label>
            </div>
                 <div class="input-field col s6 m4">
              <input type="text" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="password">Libreta militar</label>
            </div>
               <div class="input-field col s6 m4">
              <input type="text" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="password">Esperiencia laboral</label>
            </div>
               <div class="input-field col s6 m4">
              <input type="text" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="password">Direccion</label>
            </div>
               <div class="input-field col s6 m4">
              <input type="tel" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="Celular">Celular</label>
            </div>
             <div class="input-field col s6 m4">
              <input type="text" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="lugar">Lugar de nacimiento</label>
              
            </div>
               <div class="input-field col s6 m4">
              <input type="text" class="validate" pattern="\S{4,}" required title="minimo 4 caracteres">
              <label for="Celular">Grado de intruccion</label>
            </div>
            <div class="col s12 m12">
               <table class="highlight">
        <thead>
          <tr>
              <th>Fecha</th>
              <th>Motivo de fecha</th>
              <th>Destalla de la novedad</th>
              <th>Cargo</th>
              <th>Decreto</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>15/01/2016</td>
            <td>10/01/2004</td>
            <td>Urgencia</td>
            <td>Gerente</td>
            <td>12345678</td>
          </tr>
          <tr>
           <td>15/04/2016</td>
            <td>10/01/2015</td>
            <td>Desempleo</td>
            <td>Sistema</td>
            <td>12345678</td>
          </tr>
        </tbody>
      </table>
            </div>
            <div class="input-field col s6 m4">
                 <button type="submit" id="mulai_login" name="mulai_login" class="btn  right waves-effect waves-light white-text card-content">Actualizar</button>
           </div>
              
              
        
 </div>
            
          </form>