<div class="center">
      <div class="card bordered z-depth-2">
        <div class="card-header">
           <i class="material-icons medium white-text">supervisor_account</i>

        </div>
        <div class="card-content">
          <form>
            <div class="input-field col s12">
              <input id="username" type="text" class="validate" length="15">
              <label for="username">Usuario</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="validate"  length="30">
              <label for="password">Ingrese una clave</label>
            </div>
             <div class="input-field col s12">
              <input id="password" type="password" class="validate" length="30">
              <label for="password">Por favor repita su clave</label>
            </div>
             <br>
              <button type="button" id="mulai_login" name="mulai_login" class="btn  right waves-effect waves-light white-text">Crear</button>
          </form>
        </div>
        <div class="card-action clearfix">
          
        </div>
      </div>
        </div>
        
        
         