<div class="contenedor">
	<div class="car-panel">
	   incremeto salarial
	</div>
	<form>
	   <div class="input-field col s12">
       	<input id="salario" type="number" class="validate" pattern="\S{3,}" title="Se reQuiere mas de 3 numeros" required>
              <label for="salario">Ingrese el porcentaje</label>
       </div>
            
            <br>
       <button type="submit" id="mulai_login" name="mulai_login" class="btn  right waves-effect waves-light white-text">Aumentar</button>
	</form>
</div>