<table class="highlight">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Tipo de cedula</th>
            <th>Motivo de la solicitud</th>
            <th>Funciones concertadas</th>
            <th>Estado</th>
            <th>Procesado</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>KKSK</td>
            <td>ksskj</td>
            <td>  <button class="btn waves-effect waves-light" type="button" name="action" id="botton">Procesar</button>   
                </div></td>
        </tr>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>KKSK</td>
            <td>ksskj</td>
            <td>  <button class="btn waves-effect waves-light" type="button" name="action" id="botton">Procesar</button>   
                </div></td>
        </tr>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>KKSK</td>
            <td>ksskj</td>
            <td>  <button class="btn waves-effect waves-light" type="button" name="action" id="botton">Procesar</button>   
                </div></td>
        </tr>
    </tbody>
</table>
<br>
<td>  <button class="btn waves-effect waves-light" type="button" name="action" id="botton">Generar todos</button>   
</div></td>
