<table class="highlight">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Funciones</th>
            <th>Concertadas</th>
            <th>Motivos</th>
            <th>Fecha</th>
            <th>Dias Restantes</th>
            <th>Procesar</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
              234234
            </td>
            
            <td>
               <a href="#!" class="secondary-content" text-align=" center"><i class="material-icons" >visibility</i></a>
            </td>
            <td>
               <a href="#!" class="secondary-content" text-align=" center"><i class="material-icons" >visibility</i></a>
            </td>
            <td>
                KKSKsdfsddfsdfsdfsdfsdfsdfsdfsd sd dgggggggggggggggfsdfsdfffffffffffffffffffffffff
            </td>
            <td>
                2016/11/03
            </td>
            <td>
                3
            </td>
            <td>
               <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
            </td>     
        </tr>
        <tr>
             <td>
              234234
            </td>
            
            <td>
               <a href="#!" class="secondary-content" text-align=" center"><i class="material-icons" >visibility</i></a>
            </td>
            <td>
               <a href="#!" class="secondary-content" text-align=" center"><i class="material-icons" >visibility_off</i></a>
            </td>
            <td>
                KKSKsdfsddfsdfsdfsdfsdfsdfsdfsd sd dgggggggggggggggfsdfsdfffffffffffffffffffffffff
            </td>
            <td>
                2016/11/03
            </td>
            <td>
                3
            </td>
            <td>
               <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
            </td>    
        </tr>
       
    </tbody>
</table>
<br>
<td>  <button class="btn waves-effect waves-light" type="button" name="action" id="botton">Generar todos</button>   
</div></td>
